header{
    color:rgb(78, 85, 80);
}
table{
    background-color:rgb(83, 172, 194);
    padding: 40px;
}
.resetButton{
    margin-left: 62%;
    color: blue;
    background-color: rgb(101, 231, 231);
}
#submitId{
    margin-left: 60%;
    color:blue;
    background-color:rgb(40, 194, 245);
}
.ErrorMsg{
color: red;
}